{% extends 'post/base.html' %}
{% block desc %} {{ post.description }} {% endblock desc %}
{% block keywords %} {{ post.keywords}} {% endblock keywords %}
{% block title %} {{ post.title }} {% endblock title %}


{% block content %}


<h1> {{ post.title }} </h1>
<p> {{ post.text }}  </p>
{{ post.category }} <br>

Автор:{{ post.user }} <br>
Теги: {% for tag in post.tag.all %}
  {{tag.title}}
  {% endfor %} <br>
{{ post.created }}

<br>

Комментарии: <br>
  {% for comment in comments %} <br>
    Пользователь - {{ comment.user }} <br>
    {{ comment.text }} <br>
    Добавлен - {{ comment.created }}
  {% endfor%}


<form action="" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  
  <button type="submit"> Отправить </button>
</form>




{% endblock content %}




